.modal{
 width: 50rem;
 height: 35rem;
 color: #fff;
 position: absolute;
 top: 80%;
 left: 50%;
 transform: translate(-50%,-50%);
 background-color: rgb(43, 48, 48);
 font-family: "Inter", sans-serif;
 display: flex;
 justify-content: center;
 flex-direction:column;
 border-radius:0.8rem;
 
}

.modal h1{
 font-size: 5.2rem;
}
.modal h1, .modal p{
 margin: 2rem 0rem 0rem 5rem;
}

.modal p{
 font-size: 2rem;
}

.modal p a{
 text-decoration: none;
 color: #392de9;
}

.modal button{
 width:9.6rem;
 height:2.2rem;
 background-color: transparent;
 color: #ff0000;
 border: 0;
 font-size: 2.2rem;
 margin-top: 5rem;
 margin-left: 40rem;
 cursor: pointer;
}