:root{
 --font-poppins:  "Poppins", sans-serif;
 --font-inter: "Inter", sans-serif; 
}
body{
 background-color: #000000;
 height:100vh;
 overflow-x: hidden;
}

header{
 display: flex;
 justify-content: space-around;
 margin-top: 2rem;
 margin-bottom: 11.7rem;
}

 header .logo{
 display: flex;
 gap: 1.5rem;
 font-size:0.9rem;
 color: #ffffff;
 font-family:var(--font-poppins);
}

header .logo > p{
 height:4rem;
 display:flex;
 flex-direction: column;
 width: 10.2rem;
 text-align: end;
}
header .logo strong{
 font-size:2.2rem;
 margin-bottom: -0.5rem;
}

nav{
 display: flex;
 flex-direction: row;
 gap:1.4rem
}

nav button{
 width: 9.6rem;
 height: 3.5rem;
 background-color: transparent;
 border:1px solid #fff;
 border-radius:0.88rem;
 transition: ease-in-out 0.5s;
 font-family: var(--font-poppins);
}
nav button:hover{
 background-color: #392de9;
 cursor: pointer;
}
nav button a{
 text-decoration: none;
 color: #fff;
}

main{
 margin: auto;
 width: 70rem;
}

main .image-fundo{
 position: absolute;
 z-index: -99;
 left: 7.7rem;
}

main .apresentacao{
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

main .apresentacao div{
 width:23.1rem;
 height:23.1rem;
 border-radius:50%;
 overflow: hidden;
 background-color: #1A1A1A;
 margin-bottom:3.6rem;
}

main .apresentacao h1,h2{
 font-family: var(--font-poppins);
 color: #fff;
}

main .apresentacao h1{
 max-width: 54rem;
 font-size: 6.3rem;
 margin-bottom: -2rem;
}

main .apresentacao h2{
 max-width: 31rem;
 font-size: 3.3rem;
 margin-bottom: 2.1rem;
 background-image:linear-gradient(to right, #9C83FF, #FF9051);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: black;
}

main .apresentacao p{
 width: 58.7rem;
 font-size:1.6rem;
 text-align: center;
 font-family: var(--font-poppins);
 margin-bottom: 3.4rem;
 color: #ffffff;
}

main .apresentacao button{
 width:18.5rem;
 height: 4.5rem;
 border-radius:7.5rem;
 outline: none;
 border: 1px solid #585858;
 background-color: #000000;
 color:#ffffff;
 font-size: 1.5rem;
 cursor:pointer;
}

main .apresentacao button a{
 color: #FFFFFF;
 text-decoration: none;
}


main section{
 margin-top: 10.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

main .sobre-mim{
 max-width: 70.6rem;
 color: #fff;
 text-align: center;
 font-family: var(--font-inter);
}

main .sobre-mim h1{
 width: 26rem;
 font-size: 4.5rem;
}

main .sobre-mim h2{
 margin-bottom: 2.7rem;
 background-image:linear-gradient(to right, #9C83FF, #FF9051);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: black;
}

main .sobre-mim p{
 width: 70rem;
 font-size: 1.7rem;
 margin-bottom: 2rem;
}

main .experiencia {
 max-width: 70.3rem;
 margin-bottom: 15.6rem;
}
main .experiencia .div-one{
 font-family: var(--font-inter);
 width: 70rem;
 color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 margin-bottom:3.3rem;
}

main .experiencia .div-two{
 font-family: var(--font-inter);
 font-size: 1.1rem;
 margin-top: 1.8rem;
 display: flex;
 justify-content: flex-start;
 align-items: center; 
 gap:0.9rem;
 width: 100%;
}

main .experiencia .div-two span{
 background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(to right, #9C83FF, #FF9051) border-box;
 border-radius: 50em;
 border: 3px solid transparent;
 justify-content: center;
 align-items: center;
 font-size: 1.2em;
 font-weight: bold;
 text-decoration: none;
 color: #fff;
 padding: 0.5em 1.5em;
 cursor: pointer;
}

main .experiencia div h1{
 font-size: 1.7rem;
}

main .experiencia div p{
 font-size: 1rem;
}

main .experiencia h1{
 width: 28.5rem;
 font-size: 4.5rem;
 color: #fff;
 font-family: var(--font-inter);
}

main .experiencia h2{
 margin-bottom: 5.5rem;
 background-image:linear-gradient(to right, #9C83FF, #FF9051);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: black;
}

main .experiencia p{
 max-width: 70rem;
 color: #fff;
 font-size: 1.5rem;
 font-family: var(--font-inter);
}

main .experiencia span{
 display: flex;
 color: #fff;
}

main .projetos{
 font-family: var(--font-inter);
 color: #fff;
 max-width: 69.6rem;
}

main .projetos h1{
 width: 23.4rem;
 font-size: 4.5rem;
}

main .projetos h2{
 font-family:var(--font-inter) ;
 background-image:linear-gradient(to right, #9C83FF, #FF9051);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: black;
}

main .projetos .descricao-projetos{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin: 5.5rem 0 0 0 ;
}

main .projetos .descricao-projetos div{
 width: 33.3rem;
 height: 7.93rem;
 display: flex;
 align-items: center;
 gap: 1.7rem;
 padding: 0rem;
 margin: 4rem 0 0 1rem;

}

main .projetos .descricao-projetos div img{
 width: 12.6rem;
 height: 7.93rem;
 border-radius: .755rem;
 object-fit: cover;
}

main .projetos .descricao-projetos div h3{
 margin-bottom: -1.4rem;
 font-size: 1.622rem;
}

main .projetos .descricao-projetos div p,
main .projetos .descricao-projetos div h3{
 width:19.0rem;
}

main .projetos .descricao-projetos div div{
 display: flex;
 flex-direction: column;
 margin: 0;
}

main .projetos .descricao-projetos div div p{
 overflow-x: hidden;
 color: #878787;
}

main .projetos .descricao-projetos div div p::-webkit-scrollbar{
 background-color: transparent;
 width: 0.2rem;
}

main .projetos .descricao-projetos div div p::-webkit-scrollbar-thumb{
 border-radius: 1rem;
 background-color: #e9e6e357;
}


footer {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 45.5rem;
 height: 6.8rem;
 margin: 22.227rem auto;
}

footer .footer-contact{
 width: 40rem;
 font-family: var(--font-inter);
 flex-direction: column;
 align-items: center;
 font-size: 1.6rem;
 color: #fff;
 margin-top: 2rem;
}

footer .footer-contact p{
 margin-top: 2rem;
}

footer div{
 width: 17.45rem;
 height: 2.51rem;
 display: flex;
 justify-content: space-between;
}

footer ion-icon {
 font-size: 2.5rem;
}

footer div a{
 text-decoration: none;
 color: #FFFFFF;
}


@media screen and (max-width:768px) {
 *{
   position: relative;
 }
 
 body{
  overflow-x: hidden;
 }
 header{
  width: 50%;
 }

 header nav{
  display: none;
 }

 main .image-fundo img{
  display: none;
  position: absolute;
  height: 0;
 }

 main{
  width: 100%;
 }

 main .apresentacao h1,
 main .apresentacao h2,
 main .sobre-mim h1,
 main .sobre-mim h2,
 main .experiencia h1,
 main .projetos h1,
 main .projetos h2
 {
 font-size:3.6rem;
 }

 main .apresentacao div{
 left: 1rem;
 }
 main .apresentacao h2{
 font-size: 2rem;
 margin-top: 1rem;
 }

 main .apresentacao p{
 width:90%;
 font-size: 1.5rem;
 }

 main .sobre-mim{
  margin-bottom: -3rem;
 }

 main .sobre-mim h2{
  font-size: 1.3rem;
 }

 main .sobre-mim p{
 width: 90%;
 }

 main .experiencia{
 margin-bottom: 0;
 }

 main .experiencia h1{
 left: 3rem;
 }

 main .experiencia h2{
  left: 1rem;
  font-size: 1.3rem;
 }

 main .experiencia .div-one{
  width: 90%;
 }

 main .experiencia .div-one h1{
  width: 70%;
  left: 1rem;
 }
 main .experiencia .div-one p{
  width: 60%;
  margin-top: 1rem;
  left: 1rem;
  font-size: 1rem;
  text-align: center;
 }

 main .experiencia p{
  width: 90%;
  text-align: justify;
 }

 main .experiencia .div-two{
  flex-wrap: wrap;
  width: 90%;
 }
 main .experiencia .div-two span {
  width: 9rem;
  padding: 1rem;
  font-size:.8rem;
  left: 0rem;
 }

 main .projetos h1{
  left: 3rem;
 }

 main .projetos h2{
  left: 1rem;
  font-size: 1.3rem;
 }

 main .projetos .descricao-projetos{
  margin-top: 2rem;
  width: 90%;
 }
 
 footer{
  width: 90%;
 }

 footer .footer-contact{
  width: 90%;
 }

 footer .footer-contact p{
  margin-top: 0;
 }
}
